.cart {
  padding: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.cart-summary {
  margin-top: 20px;
  text-align: center;
}

.cart-summary input {
  padding: 5px;
  font-size: 1rem;
  margin-right: 10px;
}

.cart-summary button {
  padding: 10px 15px;
  background-color: #A76399;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-summary button:hover {
  background-color: #824276;
}
